
<% if @current_user.present? %>
    <a class="listing-author-contact-button" href="javascript:void(0);" id="share_listing">
      <div class="content">
        Share Listing
      </div>
    </a>

    <div class="lightbox custom-modal" id="listing_shared_modal">
      <div class="lightbox-content">
        <div class="custom-modal-header">
          <a class="close lightbox-x" href="#" id="close_x">
            <%= icon_tag('cross') %>
          </a>

          <h2>
            Share a Listing
          </h2>
        </div>
        <div class="flash-message"></div>
        <div class="custom-modal-content">
          <div class="centered-section" id="new_message_form">
            <%= form_tag '/posts', remote: true do %>
                <%= text_area_tag :description, '', class: 'post-attachment-description', placeholder: 'Say something about the photo(s)...', id: 'attachment-description' %>
                <%= hidden_field_tag :listings_ids , '', value: @listing.id%>
                <%= hidden_field_tag :purpose , '', value: Post::POST_PURPOSE[:share_timelet]%>
                <input type="submit" id="aw-whats-new-submit-bbmedia" class="btn-primary btn" value="Share Listing">
            <% end %>
          </div>
        </div>
      </div>
    </div>

   <% end %>

<%= content_for :extra_javascript do %>
    <script type="text/javascript">
        $('#share_listing').click(function () {
            $('#listing_shared_modal').lightbox_me({centered: true, zIndex: 1000000});
        });
    </script>
<% end %>