<div class="lightbox custom-modal" id="new-message-form">
  <div class="lightbox-content">
    <div class="custom-modal-header">
      <a class="close lightbox-x" href="#" id="close_x">
        <%= icon_tag('cross') %>
      </a>

      <h2>
        <%= t("conversations.new.send_message_to_user", :person => @person.given_name_or_username) %>
      </h2>
    </div>
    <div class="flash-message"></div>
    <div class="custom-modal-content">
      <div class="centered-section" id="new_message_form">
        <%= form_for Conversation.new, :url => person_person_messages_path(person_id: @person.username), remote: true do |form| %>
            <%= fields_for "conversation[message_attributes]", Message.new do |message_form| %>
                <%= message_form.text_area :content, :class => "text_area mention", placeholder: 'Write your message...' %>
            <% end %>
            <div style="margin-top: 10px;" class="clearfix">
              <%= form.button t("conversations.new.send_message"), :class => "btn-primary btn pull-right" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for :extra_javascript do %>
    <script type="text/javascript">
        $(function () {
            $('#send-message').click(function () {
                $('#new-message-form').lightbox_me({centered: true, zIndex: 1000000});
            });
        });
    </script>
<% end %>

