<%= form_tag('/posts', multipart: true) do %>
<%= text_area_tag :description %>
    <div class="attachment-submit">
      <div class="attchment">
          <div class="fileUpload btn btn-default">
            <span>Upload Image</span>
            <%= file_field_tag :attachment,:multiple => true, name: "attachments[attachment][]", class: 'upload' %>
          </div>
      </div>
      <%= hidden_field_tag 'post_to_id','', value: current_user?(@person) ? '' : @person.id %>
      <div class="submit-btn">
        <div class="btn_submit">
          <%= submit_tag 'Create Post', class: 'post-btn' %>
        </div>
      </div>
    </div>
<% end %>


<div class="wall_posts">
  <% get_all_post(@person).each do |post| %>
      <div class="single-post">
        <%= post.person.given_name + ' ' + post.person.family_name%>
        <%= post.description %>
        <% post.post_attachments.each do |attachment| %>
        <%= video_tag  attachment.attachment_url, size: "80" %>
        <%end%>
        <% if  post.likes.where(person_id: @person.id).present? %>
            <%= link_to 'unlike', like_path(post.likes.where(person_id: @person.id).first.id),id: "post_#{post.id}",:remote => true, method: 'delete'%>
        <% else %>
            <%= link_to 'like', likes_path(likeable_id: post.id, likeable_type: 'post'),id: "post_#{post.id}",:remote => true, method: 'post'%>
        <% end %>

        <% post.post_comments.each do |comment| %>
            <%= comment.person.given_name + ' ' + comment.person.family_name%>
        <%= comment.comment %>
            <% if  comment.likes.where(person_id: @person.id).present? %>
                <%= link_to 'unlike', like_path(comment.likes.where(person_id: @person.id).first.id),id: "comment_#{comment.id}",:remote => true, method: 'delete'%>
            <% else %>
                <%= link_to 'like', likes_path(likeable_id: comment.id, likeable_type: 'comment'),id: "comment_#{comment.id}",:remote => true, method: 'post'%>
            <% end %>
        <% end %>
        <%= form_tag ('/post_comments') do%>
         <%= hidden_field_tag 'post_id','', value: post.id %>
        <%= text_area_tag :comment %>
            <%= submit_tag 'comment'%>
        <% end %>
      </div>
  <% end %>
</div>

