<li class="profile-list-section wall-post-item clearfix wall-post-item-<%= post.id %>" id="wall_post_<%= post.id %>">
  <div class="profile-pic">
    <a href="#">
      <%= small_avatar_thumb(post.person) %>
    </a>
  </div>
  <div class="wall-post-content-wrapper">
    <div class="activity-status">
      <%= link_to post.person.full_name, person_path(username: post.person.username) %>
      <%= post.purpose.blank? ? 'share timelet' : post.purpose %>
      <i> <%= time_ago_in_words(post.created_at) %> ago </i>

      <div class="dropdown pull-right">
        <% if @current_user.present? %>
            <div class="dropdown pull-right">
        <span class="dropdown-toggle pull-right" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="cursor: pointer; margin-top: -5px;">
          <i class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
        </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="report-action-<%= post.id %>">
                  <% if is_reported_by_user(post, @current_user.id) %>
                      <span class="report-btn-profile" style="margin: 5px;"><i class="fa fa-flag" aria-hidden="true" style="padding: 2px"></i>Reported</span>
                  <% else %>
                      <%= link_to report_user_post_people_path(reportable_id: post.id, reportable_type: 'post'), class: "report-btn", remote: true do %>
                          <i class="fa fa-flag" aria-hidden="true"></i> Report
                      <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
        <% end %>
      </div>
    </div>
    <div class="activity-content">
      <div class="post-content">
        <p>
          <%= render_post_content(post.description) %>
        </p>
        <% if post.listings_ids.present? %>
            <%= render_listing_item(post.listings_ids) %>
        <% end %>
        <% if post.post_attachments.present? %>
            <%= render_post_attachment(post.post_attachments) %>
        <% end %>

      </div>
    </div>
    <div class="activity-footer">
      <ul class="activity-actions">
        <li class="like-post-<%= post.id %>">
          <%= like_unlike_link(post, @current_user, 'post') %>
        </li>
        <li>
          <a href="javascript:void(0);" class="reply-comments"><i class="fa fa-commenting"></i>
            Comment<%= "(" + post.post_comments.count.to_s + ")" if post.post_comments.present? %></a>
        </li>
        <li>
          <div class="dropdown">
            <a class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="cursor: pointer; margin-top: -5px;">

              <i class="fa fa-share"></i> Share
            </a>
            <ul class="dropdown-menu post-share-link" aria-labelledby="dropdownMenu">
              <li>
                <%= link_to '#', class: "report-btn", remote: true do %>
                    <i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook Share
                <% end %>
              </li>
              <li>
                <%= link_to '#', class: "report-btn", remote: true do %>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter Share
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <% if can_delete_post(post) %>
              <%= link_to post, method: :delete, remote: true, data: {confirm: 'Are you sure?'} do %>
                  <i class="fa fa-trash"></i> Delete
              <% end %>
          <% end %>
        </li>
      </ul>
      <div style="clear: both;"></div>
    </div>
    <div class="post-comments-wrapper">
      <ul class="comments-list clearfix">
        <% if post.post_comments.present? %>
            <% post.post_comments.limit(1).each do |comment| %>
                <%= render 'people/comments_item', comment: comment, post: post %>
                <% if post.post_comments.count > 1 %>
                    <%= link_to 'See All Comments', all_comments_post_path(post), remote: true, class: "show_all_#{post.id} see_all_message" %>
                <% end %>
            <% end %>
        <% end %>
      </ul>
      <div class="comments-wrapper clearfix">
        <%= form_tag ('/post_comments'), :remote => true do %>
            <%= hidden_field_tag 'post_id', '', value: post.id %>
            <%= text_area_tag :comment %>
            <%= submit_tag 'Comment', class: 'btn btn-default' %>
            <%= link_to 'javascript:void(0);', class: 'cancel-comments btn btn-default' do %>
                Cancel
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</li>

