<li class="profile-list-section wall-post-item clearfix wall-post-item-<%= post.id %>">
  <div class="profile-pic">
    <a href="#">
      <%= small_avatar_thumb(post.person) %>
    </a>
  </div>
  <div class="wall-post-content-wrapper">
    <div class="post-title">
      <span class="name"><%= link_to post.person.given_name_or_username, person_path(username: post.person.username) %></span>
      <span class="times"> <%= time_ago_in_words(post.created_at) %> ago </i> </span>
    </div>
    <div class="post-content">
      <p>
        <%= post.description %>
      </p>
      <% if post.listings_ids.present? %>
          <div class='post-attachment-wrapper'>
      <% post.listings_ids.split(',').each do |list| %>
          <% listing =  get_posted_listing(list) %>
              <div class='attachment-container'>
                <%= image_tag listing.listing_images.first.image.url(:medium) %>
              </div>
      <% end %>
      </div>
      <% end %>
      <% if post.post_attachments.present? %>
          <%= render_post_attachment(post.post_attachments) %>
      <% end %>

    </div>
    <ul class="post-actions clearfix">
      <li>
        <a href="javascript:void(0);" class="reply-comments"><i class="fa fa-reply"></i></a>
      </li>
      <li class="like-post-<%= post.id %>">
        <%= like_unlike_link(post, @current_user, 'post') %>
      </li>
      <li>
        <% if can_delete_post(post) %>
            <%= link_to post, method: :delete, remote: true, data: {confirm: 'Are you sure?'} do %>
                <i class="fa fa-trash"></i>
            <% end %>
        <% end %>
      </li>
    </ul>
    <div class="post-comments-wrapper">
      <ul class="comments-list clearfix">
        <% if post.post_comments.present? %>
            <% post.post_comments.each do |comment| %>
                <%= render 'people/comments_item', comment: comment, post: post %>
            <% end %>
        <% end %>
      </ul>
      <div class="comments-wrapper clearfix">
          <%= form_tag ('/post_comments') , :remote => true do %>
              <%= hidden_field_tag 'post_id', '', value: post.id %>
              <%= text_area_tag :comment %>
              <%= submit_tag 'comment', class: 'btn btn-default' %>
              <%= link_to 'javascript:void(0);', class: 'cancel-comments btn btn-default' do %>
                  Cancel
              <% end %>
          <% end %>
      </div>
    </div>
  </div>
</li>
