<div class="col-md-9 wall_content reset-padding">
  <div class="user-profile-content-wrapper">
    <div class="wall-posts">
      <ul class="all_post">
        <% posts.each do |post| %>
            <%= render 'people/wall_post_item', post: post, person: @person %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
    <aside class="col-md-3 sidebar" style="position: relative;padding-top: 20px">
      <div class="wrapper-notifications">
        <h3 class="stit">Notifications</h3>
        <ul>
          <% UserNotification.all.limit(10).each do |notification| %>
              <li>
                <%= small_avatar_thumb(notification.notification_sender, {class: 'photo'}) %>
                <span class="noti-wrap">
                  <small class="date"><i> <i class="fa fa-clock-o"></i> <%= time_ago_in_words(notification.created_at) %>  ago
                  </i></small>

                  <%= link_to notification.notification_sender.given_name_or_username, person_path(notification.notification_sender.username), class: 'username' %>
                  <%= notification.content %>
              </span>
              </li>
          <% end %>
        </ul>
        <a href="<%= all_notification_person_path(@current_user) if @current_user.present? %>" class="find">View all
          notifications</a>
      </div>
    </aside>

<%= content_for :extra_javascript do %>
    <script type="text/javascript">
        $(function () {
            var attWrapper = $(".attachment-slide-wrapper");
            $('.feedback').rating({displayOnly: true, step: 0.5});
            $(".wrapper-notifications ul").niceScroll();
            attWrapper.niceScroll({
                horizrailenabled: true
            });
            attWrapper.getNiceScroll().hide();
            $(".sidebar").stick_in_parent();
        });
    </script>
<% end %>
