<%= render 'social/user_profile_header', person: @person %>
<%= render partial: 'social/social_nav', locals: profile_header_porps(@person)  %>
<div class="friendship-wrapper">
  <%= render 'friendships/friend_request', friend_request: @friend_request if current_user?(@person) %>
  <div class="friend-list-wrapper">
    <h3 class="friendship-header"> <%= @friends.present? ? "#{'Follower'.pluralize(@friends.count)} #{@friends.count}" : 'No Follower' %> </h3>
    <ul class="friend-list">
      <%= render 'people/friend_list', friends: @friends, person: @person %>
    </ul>
  </div>
</div>
