<%= render 'social/user_profile_header', person: @person %>
<%= render 'social/social_nav' %>
<div class="timelet-list">
  <div class="products">
    <ul>
      <% listings.each do |listing| %>
          <li class="col-md-3">
            <div class="figure-item">
              <figure>
                <%= link_to listings_path(listing) do %>
                    <span class="back"></span>
                    <span class="figure grid" style="background-image:url(<%= get_listing_view_image(listing) %>)"></span>
                <% end %>
              </figure>
              <figcaption>
                <%= link_to listings_path(listing), class: 'title' do %>
                    <%= listing.title %>
                <% end %>
                <em class="figure-detail">
                  <span class="username"><a href="/iamDim">iamDim</a>  + 7</span>
                </em>
              </figcaption>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>