<%= content_for :social_left_section do %>
    <div class="user-profile-content-wrapper">
      <div class="spacing-btwn-divs wall-post-wrapper">
        <h4>Whats new <%= link_to @person.given_name_or_username, person_path(username: @person.username) %>?</h4>

        <%= form_tag '/posts', multipart: true,class: 'post-form',  remote: true do %>
            <%= text_area_tag :description, '', placeholder: "What's on your mind?" %>
            <%= hidden_field_tag 'post_to_id', '', value: current_user?(@person) ? '' : @person.id %>
            <div class="attachment-submit clearfix">
              <%= text_field_tag :listings_ids, '', id: 'tokenfield', placeholder: 'Reference your listing...' %>
              <a href="javascript:void(0);" class="btn btn-info" id="attachment-update-post">
                <i class="fa fa-camera"></i>
              </a>
              <%= submit_tag 'Post Update', class: 'btn btn-info' %>
            </div>
        <% end %>
      </div>

      <div class="wall-posts">
        <ul class="all_post">
          <% Post.all.each do |post| %>
              <%= render 'people/wall_post_item', post: post, person: @current_user %>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>

<%= content_for :social_right_section do %>
    <div class="right-profile clearfix">
      <p class="lead text-center">
        Members
      </p>

      <div class="separator"></div>
      <ul class="right-person-menu clearfix">
        <li><a>Newest</a></li>
        <li><a>Active</a></li>
        <li><a>Popular</a></li>
      </ul>
      <div class="separator"></div>

      <ul class="right-person-list clearfix">
        <li class="clearfix">
          <div class="image-section">
            <%= image_tag 'profile.jpg', class: "image-icon" %>
          </div>
          <div class="image-content-section">
            <p>
              Mahabub Jiko<br>7 day ago.
            </p>
          </div>
        </li>
        <li class="clearfix">
          <div class="image-section">
            <%= image_tag 'profile.jpg', class: "image-icon" %>
          </div>
          <div class="image-content-section">
            <p>
              Mahabub Jiko<br>7 day ago.
            </p>
          </div>
        </li>
        <li class="clearfix">
          <div class="image-section">
            <%= image_tag 'profile.jpg', class: "image-icon" %>
          </div>
          <div class="image-content-section">
            <p>
              Mahabub Jiko<br>7 day ago.
            </p>
          </div>
        </li>
        <li class="clearfix">
          <div class="image-section">
            <%= image_tag 'profile.jpg', class: "image-icon" %>
          </div>
          <div class="image-content-section">
            <p>
              Mahabub Jiko<br>7 day ago.
            </p>
          </div>
        </li>
      </ul>
      <div class="blog-separator"></div>
      <p class="lead text-center">From the Blog</p>
      <ul class="right-person-list clearfix">
        <li class="clearfix">
          <div class="image-section">
            <%= image_tag 'profile.jpg', class: "image-icon-square" %>
          </div>
          <div class="image-content-section">
            <h4>This is H4</h4>

            <p>
              Mahabub Jiko 7 day ago. Mahabub Jiko 7 day ag
            </p>
          </div>
        </li>
        <li class="clearfix">
          <div class="image-section">
            <%= image_tag 'profile.jpg', class: "image-icon-square" %>
          </div>
          <div class="image-content-section">
            <h4>This is H4</h4>

            <p>
              Mahabub Jiko 7 day ago. Mahabub Jiko 7 day ag
            </p>
          </div>
        </li>
        <li class="clearfix">
          <div class="image-section">
            <%= image_tag 'profile.jpg', class: "image-icon-square" %>
          </div>
          <div class="image-content-section">
            <h4>This is H4</h4>

            <p>
              Mahabub Jiko 7 day ago. Mahabub Jiko 7 day ag
            </p>
          </div>
        </li>
        <li class="clearfix">
          <div class="image-section">
            <%= image_tag 'profile.jpg', class: "image-icon-square" %>
          </div>
          <div class="image-content-section">
            <h4>This is H4</h4>

            <p>
              Mahabub Jiko 7 day ago. Mahabub Jiko 7 day ag
            </p>
          </div>
        </li>
      </ul>
    </div>
<% end %>

<%= content_for :extra_javascript do %>
    <script type="text/javascript">
        $('#attachment-update-post').click(function () {
            $('#new-attachment-modal-form').lightbox_me({centered: true, zIndex: 1000000});
        });
        $('.post-form').submit(function(){
            if ($('#description').val() == '') {
                $('#description').focus();
                return false;
            }
        })
        $('#tokenfield').tokenInput('/listings/listing_lists.json', {
            theme: "facebook",
            placeholder: 'Refer Your listings',
            preventDuplicates: true,
        });
    </script>
<% end %>

<%= render 'posts/post_with_attachment_modal', person: @person %>

<div class="row footer">
  <div class="footer-left">
    <p>
      2016 - Boss · Powered by <span></span>
    </p>
  </div>
  <ul class="footer-social-icon">
    <li>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-youtube"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-arrow-up"></i></a>
    </li>
  </ul>
</div>