<% content_for :title_header do %>
    <h1>
      <%= t("layouts.no_tribe.settings") %>
    </h1>
<% end %>
<% content_for :left_navi do %>
    <%= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@current_user, @current_community) } %>
<% end %>


<% content_for :right_content do %>
    <div class="left-navi-section settings-section notification-settings clearfix" id="person_settings_form">
      <h2 class="ptit">
        <%= 'Privacy Setting' %>
      </h2>
      <div id="setting-main-content">
        <%= form_for(privacy, url: update_privacy_person_settings_path(target_user))  do |f| %>
            <%= f.check_box :auto_follower %>
            <%= f.label :auto_follower, 'Allow Auto Follower', style: 'display: inline; padding-left: 10px;padding-buttom: 10px;' %>
            <div style="padding-top: 15px; " ><%= f.button %></div>

        <% end %>
      </div>
    </div>
<% end %>

