<% content_for :title_header do %>
    <h1>
      <%= t("layouts.no_tribe.settings") %>
    </h1>
<% end %>
<%= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@current_user, @current_community) } %>

<div class="left-navi-section settings-section notification-settings" id="person_settings_form">
  <h2 class="lower" style="padding-bottom: 20px;">Privacy Setting</h2>
  <%= form_for(privacy, url: update_privacy_person_settings_path(target_user))  do |f| %>
      <%= f.check_box :auto_follower %>
      <%= f.label :auto_follower, 'Allow Auto Follower', style: 'display: inline; padding-left: 10px;' %>
      <%= f.button %>
  <% end %>
</div>

