<li class="clearfix friend-item-<%= friend.id %>">
  <div class="friend-item">
    <div class="clearfix">
      <div class="profile-pic">
        <%= link_to person_path(friend.username) do %>
            <%= huge_avatar_thumb(friend) %>
        <% end %>
      </div>
      <div class="profile-info">
        <%= link_to person_path(friend.username) do %>
            <%= friend.full_name %>
        <% end %>
        <p class="mutual-friend">
          <% followers = friend.invited %>
          <%= "#{followers.count} #{'Follower'.pluralize(followers.count)}" %>
        </p>

        <div class="follow-unfollow-wrapper">
          <% unless current_user?(friend) %>
              <%= render 'friendships/follow_unfollow_button', person: friend %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>