<div class="right-profile clearfix">
  <p class="lead text-center">
    Members
  </p>

  <div class="separator"></div>
  <ul class="right-person-menu clearfix">
    <li><a>Newest</a></li>
    <li><a>Active</a></li>
    <li><a>Popular</a></li>
  </ul>
  <div class="separator"></div>

  <ul class="right-person-list clearfix">
    <li class="clearfix">
      <div class="image-section">
        <%= image_tag 'profile.jpg', class: "image-icon" %>
      </div>
      <div class="image-content-section">
        <p>
          Mahabub Jiko<br>7 day ago.
        </p>
      </div>
    </li>
    <li class="clearfix">
      <div class="image-section">
        <%= image_tag 'profile.jpg', class: "image-icon" %>
      </div>
      <div class="image-content-section">
        <p>
          Mahabub Jiko<br>7 day ago.
        </p>
      </div>
    </li>
    <li class="clearfix">
      <div class="image-section">
        <%= image_tag 'profile.jpg', class: "image-icon" %>
      </div>
      <div class="image-content-section">
        <p>
          Mahabub Jiko<br>7 day ago.
        </p>
      </div>
    </li>
    <li class="clearfix">
      <div class="image-section">
        <%= image_tag 'profile.jpg', class: "image-icon" %>
      </div>
      <div class="image-content-section">
        <p>
          Mahabub Jiko<br>7 day ago.
        </p>
      </div>
    </li>
  </ul>
  <div class="blog-separator"></div>
  <p class="lead text-center">From the Blog</p>
  <ul class="right-person-list clearfix">
    <li class="clearfix">
      <div class="image-section">
        <%= image_tag 'profile.jpg', class: "image-icon-square" %>
      </div>
      <div class="image-content-section">
        <h4>This is H4</h4>

        <p>
          Mahabub Jiko 7 day ago. Mahabub Jiko 7 day ag
        </p>
      </div>
    </li>
    <li class="clearfix">
      <div class="image-section">
        <%= image_tag 'profile.jpg', class: "image-icon-square" %>
      </div>
      <div class="image-content-section">
        <h4>This is H4</h4>

        <p>
          Mahabub Jiko 7 day ago. Mahabub Jiko 7 day ag
        </p>
      </div>
    </li>
    <li class="clearfix">
      <div class="image-section">
        <%= image_tag 'profile.jpg', class: "image-icon-square" %>
      </div>
      <div class="image-content-section">
        <h4>This is H4</h4>

        <p>
          Mahabub Jiko 7 day ago. Mahabub Jiko 7 day ag
        </p>
      </div>
    </li>
    <li class="clearfix">
      <div class="image-section">
        <%= image_tag 'profile.jpg', class: "image-icon-square" %>
      </div>
      <div class="image-content-section">
        <h4>This is H4</h4>

        <p>
          Mahabub Jiko 7 day ago. Mahabub Jiko 7 day ag
        </p>
      </div>
    </li>
  </ul>
</div>