<div class="social-nav clearfix">
  <ul>
    <li>
      <%= link_to 'Wall', wall_person_path(@person.username), class: "#{'active' if action_name == 'wall' }" %>
    </li>
    <li>
      <%= link_to 'Profile', person_path(@person.username), class: "#{'active' if action_name == 'show' && controller_name == 'people' }" %>
    </li>
    <li>
      <a href="#">Notifications<span class="<%= get_badge_class(@person.friends.count) %>"><%= @person.friends.count %></span></a>
    </li>
    <li>
      <a href="<%= inbox_path %>" class="<%= 'active' if action_name == 'show' && controller_name == 'inboxes' %>">Messages
        <span class="<%= get_badge_class(@person.friends.count) %>"><%= unread_count %></span></a>
    </li>
    <li>
      <a href="#">Friends<span class="<%= get_badge_class(@person.friends.count) %>"><%= @person.friends.count %></span></a>
    </li>
    <li>
      <a href="#">Following<span class="<%= get_badge_class(@person.invited.count) %>"><%= @person.invited.count %></span></a>
    </li>
  </ul>
</div>