<div id="profile-header" class="content-wrapper">
  <div class="inner-wrapper">
    <div class="icon-cache"></div>
    <h2 class="hidden">Cover</h2>

    <div id="cover-image" class="cover silver add">
      <div class="image">
        <% if person.cover_photo.present? %>
           <img id="coverImg" src="" data-url="<%= huge_cover_image_thumb_url(person) %>" data-url-retina="<%= huge_cover_image_thumb_url(person) %>" data-height="">
        <%end%>
        <script>(function () {
            var img = document.getElementById('coverImg');
            img.src = window.devicePixelRatio > 1 ? img.getAttribute('data-url-retina') : img.getAttribute('data-url');
        })()
        </script>
      </div>
      <% if current_user?(person) %>
          <a href="javascript:void(0);" class="change-upload-cover-image camera btn-upload-cover" data-toggle="tooltip" data-placement="left" title='Upload Cover Image' style="display:block;">
            <span class="icon"></span>
          </a>
          <%= render 'people/upload_cover_image', person: person %>
      <% end %>
    </div>
  </div>
  <div class="info">
    <% if person.social_link.present? %>
        <ul class="sns">
          <% unless person.social_link.facebook.blank? %>
          <li class="fb">
                <a href="<%= person.social_link.facebook  %>" target="_blank" data-toggle="tooltip" data-placement="top" title='Facebook'></a>
          </li>
          <% end %>
          <% unless person.social_link.twitter.blank? %>
          <li class="tw">
            <a href="<%= person.social_link.twitter if person.social_link.present? %>" target="_blank" data-toggle="tooltip" data-placement="top" title='Twitter'></a>
          </li>
          <% end %>
        </ul>
     <% end %>
    <div class="interaction">
      <div class="user-follow-section">
        <% if @current_user.present? && @current_user == person %>
            <%= link_to person_settings_path(person.username), class: 'btn btn-default' do %>
                Edit Profile
            <% end %>
        <% else %>
            <%= render 'friendships/follow_unfollow_button', person: person %>
        <% end %>
      </div>
      <% if @current_user.present? && @current_user != person %>
          <div class="user_fn">
            <div class="btn-group" role="group" aria-label="...">
              <%= link_to 'javascript:void(0);', class: 'send-message btn btn-default', id: 'send-message' do %>
                  <i class="fa fa-envelope-o"></i>
              <% end %>
              <%= render 'people/message_form' %>

              <div class="btn-group" role="group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-h"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <%= link_to block_friend_path(@person), remote: true, method: 'post'  do %>
                        <i class="fa fa-user-times"></i> <span class="block_unblock_text"><%= @current_user.blocked?(@person) ? 'Unblock' : 'Block' %></span>
                    <% end %>
                  <li class="repot-action-user">
                    <% unless is_reported_by_user(@person, @current_user.id)%>
                        <%= link_to  report_user_post_people_path(reportable_id: person.id, reportable_type: 'person'), remote: true do %>
                            <i class="fa fa-flag"></i> Report User
                        <% end %>
                    <% else %>
                        <span class="report-btn" style="margin-left: 20px;"><i class="fa fa-flag" aria-hidden="true" style="padding: 2px"></i>Reported</span>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      <% end %>

    </div>
    <div class="header-avatar">
      <div id="user-photo" style="background-image:url('<%= huge_avatar_thumb_url(@person) %>');"></div>
    </div>
    <% feedback, total_feedback =  get_feedback_rating(@person, @current_community) %>
    <h3> <%= person.full_name %> <input class='feedback' name='feedback' value="<%= feedback %>" class='rating-loading'> </h3>
    <% if person.location.present? %>
        <p>
          <%= person.location.address %>
        </p>
    <% end %>

    <div class="description">
      <% if person.description && !person.description.blank? %>
          <%= raw add_links_and_br_tags(person.description) %>
      <% elsif current_user?(person) %>
          <a href="<%= person_settings_path(person) %>">
            <i class="fa fa-pencil-square-o"></i> Write about yourself
          </a>
      <% end %>
    </div>
    <div class="followers">
      <a href="<%= friend_person_path(person) %>" class="_followers">Followers <b><%= person.invited_by.count %></b></a>
      <a href="#" class="_following">Following <b><%= person.invited.count %></b></a>
    </div>
  </div>
</div>

<%= content_for :extra_javascript do %>
    <script type="text/javascript">
        $(function () {
            $(document).on('ready', function(){
                $('.feedback').rating({displayOnly: true, step: 0.5});
            });
            $('[data-toggle="tooltip"]').tooltip();
            $('.change-upload-cover-image').click(function () {
                $('#upload-cover-image-modal').lightbox_me({centered: true, zIndex: 1000000});
            });
        });
    </script>
<% end %>
