<!--<div class="spacing-btwn-divs wall-post-wrapper">-->
<!--<h4>Whats new <%#= link_to @person.given_name_or_username, person_path(username: @person.username) %>?</h4>-->

<!--<%#= form_tag '/posts', multipart: true, class: 'post-form', remote: true do %>-->
<!--<%#= text_area_tag :write_description, '', placeholder: "What's on your mind?", class: 'mention', id: 'description' %>-->
<!--<%#= hidden_field_tag :description, '', id: 'post-description-field' %>-->
<!--<%#= render 'people/mention_listing' %>-->
<!--<div class="attachment-submit clearfix">-->
<!--<%#= hidden_field_tag :listings_ids, '', id: 'listing_id', placeholder: 'Reference your listing...' %>-->
<!--<%#= hidden_field_tag :user_mention, '', id: 'user-mention' %>-->
<!--<a href="javascript:void(0);" class="btn btn-info" id="attachment-update-post">-->
<!--<i class="fa fa-camera"></i>-->
<!--</a>-->
<!--<a href="javascript:void(0);" class="btn btn-info" id="mention_listing" title="Refer a Listing">-->
<!--<i class="fa fa-share-alt-square fa-3"></i>-->
<!--</a>-->
<!--<%#= submit_tag 'Post Update', class: 'btn btn-info' %>-->
<!--</div>-->
<!--
<%# end  %>-->
<!--</div>-->

<div class="new-post-wrapper">
  <div class="post-header">
    <a href="javascript:void(0);" id="attachment-update-post">
      <i class="fa fa-camera"></i> Upload Photo
    </a>
    <a href="javascript:void(0);" id="mention_listing">
      <i class="fa fa-clock-o"></i> Timelet
    </a>
  </div>
  <%= form_tag '/posts', multipart: true, class: 'post-form', remote: true do %>
      <div class="post-form">
        <%= small_avatar_thumb(@person, class: 'user-avatar') %>
        <div class="write-post-wrapper">
          <div class="hidden-input-field">
            <%= hidden_field_tag :description, '', id: 'post-description-field' %>
            <%= hidden_field_tag :listings_ids, '', id: 'listing_id', placeholder: 'Reference your listing...' %>
            <%= hidden_field_tag :user_mention, '', id: 'user-mention' %>
          </div>
          <div style="padding-top: 8px;">
            <%= text_area_tag :write_description, '', placeholder: "What's on your mind?", class: 'mention post-description', id: 'description' %>
          </div>
        </div>
      </div>
      <div class="post-footer clearfix">
        <div class="pull-left footer-actions-icon">
          <a href="#">
            <i class="fa fa-user-plus"></i>
          </a>
        </div>
        <div class="pull-right">
          <%= submit_tag 'Post', class: 'btn-post' %>
        </div>
      </div>
  <% end %>
</div>

<%= content_for :extra_javascript do %>
    <script type="text/javascript">

        $(document).on('ready', function () {
            $('.feedback').rating({displayOnly: true, step: 0.5});
        });
        var mentionArea = $('textarea.mention');
        var postArea = $('#description');
        $('#attachment-update-post').click(function () {
            $('#new-attachment-modal-form').lightbox_me({centered: true, zIndex: 1000000});
        });

        $('.post-form').submit(function () {
            if (postArea.val() == '') {
                postArea.focus();
                return false;
            }
            else {
                mentionArea.mentionsInput('val', function (text) {
                    $('#post-description-field').val(text);
                });

                mentionArea.mentionsInput('getMentions', function (data) {
                    $('#user-mention').val(JSON.stringify(data));
                });
            }
        });

        $('#tokenfield').tokenInput('/listings/listing_lists.json', {
//            theme: "facebook",
            placeholder: 'Refer Your listings',
            preventDuplicates: true,
            tokenLimit: 1
        });

        $(function () {
            mentionArea.mentionsInput({
                onDataRequest: function (mode, query, callback) {
                    $.getJSON('/find_mention.json', {search: query}, function (responseData) {
                        responseData = _.filter(responseData, function (item) {
                            return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1
                        });
                        callback.call(this, responseData);
                    });
                }
            });
        });
    </script>
<% end %>

<%= render 'posts/post_with_attachment_modal', person: @person %>
<%= render 'people/mention_listing' %>