<div>
  <%= content_for :extra_javascript do %>
      <script type="text/javascript">
          function replaceAtMentionsWithLinks(text) {
              return text.replace(/@([a-z\d_]+)/ig, '<a href="http://twitter.com/$1">@$1</a>');
          }
          $(function () {
              $('#send-message').click(function () {
                  $('#new-message-form').lightbox_me({centered: true, zIndex: 1000000});
              });

              $('textarea.mentionx').mentionsInput({
                  onDataRequest: function (mode, query, callback) {
                      var data = [
                          {
                              id: 1,
                              name: 'Kenneth Auchenberg',
                              'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif',
                              'type': 'contact'
                          },
                          {
                              id: 2,
                              name: 'Jon Froda',
                              'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif',
                              'type': 'contact'
                          },
                          {
                              id: 3,
                              name: 'Anders Pollas',
                              'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif',
                              'type': 'contact'
                          },
                          {
                              id: 4,
                              name: 'Kasper Hulthin',
                              'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif',
                              'type': 'contact'
                          },
                          {
                              id: 5,
                              name: 'Andreas Haugstrup',
                              'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif',
                              'type': 'contact'
                          },
                          {
                              id: 6,
                              name: 'Pete Lacey',
                              'avatar': 'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif',
                              'type': 'contact'
                          }
                      ];

                      data = _.filter(data, function (item) {
                          return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1
                      });

                      callback.call(this, data);
                  }
              });
          });
      </script>
  <% end %>

  <div class="lightbox" id="new-attachment-modal-form">
    <a class="close lightbox-x" href="#" id="close_x">
      <%= icon_tag('cross') %>
    </a>

    <div class="lightbox-content">
      <div class="flash-message"></div>
      <%= form_tag '/posts', remote: true do %>
          <%= text_area_tag :description, '', class: 'post-attachment-description', placeholder: 'Say something about the photo(s)...', id: 'attachment-description' %>
          <div id="upload-post-attachment" class="dropzone">
            <div class="dz-message needsclick">
              <b> Drop </b> files here or <b> click </b> to upload.
            </div>
          </div>
          <%= hidden_field_tag 'post_to_id', '', value: current_user?(person) ? '' : person.id %>
          <%= hidden_field_tag :attachment_list, '', id: 'attachmnet_list_uploaded' %>
          <input type="submit" id="aw-whats-new-submit-bbmedia" class="btn btn-large btn-block btn-info" value="Post Update">
      <% end %>
    </div>
  </div>
</div>
<%= content_for :extra_javascript do %>
    <script type="text/javascript">
        $(function () {
            Dropzone.autoDiscover = false;
            var uploadAttachment = [];
            var attachmentForm = $("#new-attachment-modal-form form");
            var postDescription = attachmentForm.find('.post-attachment-description');
            var myDropzone = new Dropzone("div#upload-post-attachment", {
                url: "<%= upload_attachment_posts_path %>",
                addRemoveLinks: true,
                success: function (file, res) {
                    uploadAttachment.push(res.attachment_id);
                    file.attachmentId = res.attachment_id;
                },
                removedfile: function (file) {
                    $.ajax({
                        url: '/posts/remove_attachmnet?attachment_id=' + file.attachmentId,
                        type: 'delete',
                        dataType: 'json',
                        success: function (res) {
                            $(file.previewElement).remove();
                        }
                    });
                }
            });

            attachmentForm.submit(function (event) {
                event.preventDefault();
                $('#attachmnet_list_uploaded').val(uploadAttachment);
                if (postDescription.val() == '') {
                    postDescription.focus();
                    return false;
                }
            });
        })
        ;
    </script>
<% end %>

