<div>
  <%= content_for :extra_javascript do %>
      <script type="text/javascript">
          function replaceAtMentionsWithLinks(text) {
              return text.replace(/@([a-z\d_]+)/ig, '<a href="http://twitter.com/$1">@$1</a>');
          }
      </script>
  <% end %>

  <div class="lightbox custom-modal" id="new-attachment-modal-form" style="padding: 0;">
    <div class="lightbox-content">
      <div class="custom-modal-header">
        <a class="close lightbox-x" href="#" id="close_x">
          <%= icon_tag('cross') %>
        </a>

        <h2>
          Upload Photo
        </h2>
      </div>

      <div class="custom-modal-content">
        <div class="flash-message"></div>
        <%= form_tag '/posts', remote: true do %>
            <%= text_area_tag :description, '', class: 'post-attachment-description', placeholder: 'Say something about the photo(s)...', id: 'attachment-description' %>
            <div id="upload-post-attachment" class="dropzone">
              <div class="dz-message needsclick">
                <b> Drop </b> files here or <b> click </b> to upload.
              </div>
            </div>
            <%= hidden_field_tag 'post_to_id', '', value: current_user?(person) ? '' : person.id %>
            <%= hidden_field_tag :attachment_list, '', id: 'attachmnet_list_uploaded' %>
            <%= hidden_field_tag :purpose, '', value: Post::POST_PURPOSE[:update_status] %>
            <input type="submit" id="aw-whats-new-submit-bbmedia" class="btn btn-large btn-block btn-info" value="Post Update">
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= content_for :extra_javascript do %>
    <script type="text/javascript">
        $(function () {
            Dropzone.autoDiscover = false;
            var uploadAttachment = [];
            var attachmentForm = $("#new-attachment-modal-form form");
            var postDescription = attachmentForm.find('.post-attachment-description');
            var myDropzone = new Dropzone("div#upload-post-attachment", {
                url: "<%= upload_attachment_posts_path %>",
                addRemoveLinks: true,
                success: function (file, res) {
                    uploadAttachment.push(res.attachment_id);
                    file.attachmentId = res.attachment_id;
                },
                removedfile: function (file) {
                    $.ajax({
                        url: '/posts/remove_attachmnet?attachment_id=' + file.attachmentId,
                        type: 'delete',
                        dataType: 'json',
                        success: function (res) {
                            $(file.previewElement).remove();
                        }
                    });
                }
            });

            attachmentForm.submit(function (event) {
                event.preventDefault();
                $('#attachmnet_list_uploaded').val(uploadAttachment);
                if (postDescription.val() == '') {
                    postDescription.focus();
                    return false;
                }
            });
        })
        ;
    </script>
<% end %>

