<div class="header-right visible-tablet">
  <%= link_to friend_person_path(@current_user.username), title: t("layouts.conversations.messages"), :id => "inbox-link", :class => "header-text-link header-hover header-inbox-link" do %>
      <%#= icon_map_tag(icons, "user", ["icon-with-text"]) %>
      <i class="fa fa-users" style="font-size: 17px; margin-top: 25px;"></i>
      <% if @current_user.pending_invited_by.count > 0 %>
          <div class="<%= get_badge_class(@current_user.pending_invited_by.count) %> badge">
            <%= @current_user.pending_invited_by.count %>
          </div>
      <% end %>
  <% end %>
</div>


<div class="header-right visible-tablet">
  <div class=" toggle header-text-link header-hover header-inbox-link" data-toggle-anchor-position="left" data-toggle-position="absolute" data-toggle="#notification-list" id="header-user-desktop-anchor">
    <div id="header-user-mobile-anchor">
      <div class="<%= get_badge_class(UserNotification.all.where(is_read: false).count) %> badge">
        <%= UserNotification.all.where(is_read: false).count %>
      </div>
    <span class="">
      <i class="fa fa-bell-o" style="font-size: 17px; margin-top: 25px;"></i>
    </span>
    </div>
  </div>
  <div class="toggle-menu header-toggle-menu-user hidden" id="notification-list" style="left: 712.844px; width: 450px; top: 143.375px;">
    <ul class="user-notification-wrapper">
      <% UserNotification.all.order(id: :desc).limit(10).each do |notification| %>
          <li class="notification-item" onclick="location.href='<%= notification.link %>';">
            <div class="sender-picture profile-pic">
              <%= small_avatar_thumb(notification.notification_sender) %>
            </div>
            <div class="notification-content">
              <%= link_to notification.notification_sender.full_name, person_path(notification.notification_sender.username) %>
              <%= notification.content %> <br/>
              <i> <i class="fa fa-clock-o"></i> <%= time_ago_in_words(notification.created_at) %>  ago </i>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>