<div class="header-right visible-tablet">
  <%= link_to friend_person_path(@current_user.username), title: t("layouts.conversations.messages"), :id => "inbox-link", :class => "header-text-link header-hover header-inbox-link" do %>
      <%#= icon_map_tag(icons, "user", ["icon-with-text"]) %>
      <i class="fa fa-users" style="font-size: 17px; margin-top: 25px;"></i>
      <% if @current_user.pending_invited_by.count > 0 %>
          <div class="<%= get_badge_class(@current_user.pending_invited_by.count) %> badge">
            <%= @current_user.pending_invited_by.count %>
          </div>
      <% end %>
<% end %>
</div>

<div class="header-right visible-tablet">
  <%= link_to offer_list_person_path(@current_user.username), title: "Offer", :id => "inbox-link", :class => "header-text-link header-hover header-inbox-link" do %>
      <%#= icon_map_tag(icons, "user", ["icon-with-text"]) %>
      <i class="fa fa-gift" style="font-size: 17px; margin-top: 25px;"></i>
      <% if get_unread_offer > 0 %>
          <div class="<%= get_badge_class(get_unread_offer) %> badge">
            <%= get_unread_offer %>
          </div>
      <% end %>
  <% end %>
</div>



<div class="header-right visible-tablet">
  <div class=" toggle header-text-link header-hover header-inbox-link notification-wrapper" data-toggle-anchor-position="left" data-toggle-position="absolute" data-toggle="#notification-list" id="header-user-desktop-anchor">
    <div id="header-user-mobile-anchor">
      <div class="<%= get_badge_class(UserNotification.all.where(is_read: false).count) %> badge notification-count">
        <%= UserNotification.all.where(is_read: false).count %>
      </div>
    <span class="">
      <i class="fa fa-bell-o" style="font-size: 17px; margin-top: 25px;"></i>
    </span>
    </div>
  </div>
  <div class="toggle-menu header-toggle-menu-user hidden" id="notification-list" style="left: 712.844px; width: 450px; top: 143.375px;">
    <ul class="user-notification-wrapper">
      <% UserNotification.all.each do |notification| %>
          <li class="notification-item" onclick="location.href='<%= notification.link %>';">
            <div class="sender-picture profile-pic">
              <%= small_avatar_thumb(notification.notification_sender) %>
            </div>
            <div class="notification-content">
              <%= link_to notification.notification_sender.full_name, person_path(notification.notification_sender.username) %>
              <%= notification.content %> <br/>
              <i> <%= time_ago_in_words(notification.created_at) %> ago </i>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>


<%= content_for :extra_javascript do %>
    <script type="text/javascript">
        $(".notification-wrapper").click(function () {
            $.ajax({
                url: "<%= change_notification_status_person_path(@current_user) %>",
                type: 'get',
                success: function (res) {

                }
            });
        });
    </script>
<% end %>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">