-# content_for :title_header do
= render 'social/user_profile_header', person: @person

= render partial: 'social/social_nav', locals: profile_header_porps(@person)

%h1= t("layouts.no_tribe.inbox")

-# content_for :social_left_section do
.user-inbox-wrapper
  .undo-mobile-wrapper-margin#conversations
    - if inbox_rows.present?

      = render :partial => "inbox_row", :collection => inbox_rows, :as => :conversation, locals: { payments_in_use: payments_in_use }

      = will_paginate(inbox_rows)
      = pageless(inbox_rows.total_pages, '#conversations', request.path, t('conversations.index.loading_more_messages'))

    - else
      #no_conversations
        = t("conversations.index.no_received_messages")

-# content_for :social_right_section do
=# render 'social/right_section'
